/* src/pages/admin/desktop/jump/analysis/users.css */
.jump-users-filters { display: grid; grid-template-columns: 220px 1fr; gap: 16px; padding-right: 20px; margin-bottom: 18px; }
.jump-users-select, .jump-users-search-input { width: 100%; height: 52px; border-radius: 10px; border: 1px solid #E6E6E6; background: #fff; padding: 0 14px; font-weight: 700; outline: none; }
.jump-users-search-input { padding: 0 16px; } 
.jump-users-state { padding: 20px 20px 0 0; font-weight: 700; }

.jump-users-detail-card { width: 100%; min-height: 640px; background: #fff; border-radius: 16px; padding: 28px; } 
.jump-users-detail { display: flex; flex-direction: column; min-height: 640px; }
.jump-users-detail-head { display: flex; align-items: center; justify-content: center; position: relative; padding-top: 4px; margin-bottom: 22px; }
.jump-users-detail-title { font-weight: 700; font-size: 28px; } 
.jump-users-trash { position: absolute; right: 0; top: 6px; width: 32px; height: 32px; border: 1px solid #E6E6E6; border-radius: 6px; background: #fff; display: inline-flex; align-items: center; justify-content: center; cursor: pointer; }
.jump-users-trash img { width: 24px; height: 24x; }

.jump-users-info { width: 100%; max-width: 420px; margin: 0 auto; display: flex; flex-direction: column; gap: 16px; }
.jump-users-info-row { width: 100%; height: 48px; border: 1px solid #E6E6E6; border-radius: 10px; background: #fff; display: grid; grid-template-columns: 75px 1fr; align-items: center; padding: 0 16px; }
.jump-users-info-label { font-weight: 400; color: #6B6B6B; }
.jump-users-info-value { font-weight: 400; text-align: right; color: #000; line-height: 18px;}

.jump-users-record-btn { width: 100%; max-width: 283px; height: 53px; border-radius: 10px; border: none; cursor: pointer; background: var(--primary); color: #fff; font-weight: 400; font-size: 16px; margin: auto; }